html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #ddd;
    height: 100%;
}

.headertext {
    color: white;
}

a {
    color: #9c3;
}

a:hover {
    color: #769e26;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 34px;
    color: #404040;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

.bt-dashed {
    border-top: 1px dashed #ccc;
}

.cardbox {
    margin-bottom: 15px;
    margin-top: 15px;
}

.card {
    overflow: hidden;
    border-radius: 15px;
}

.footer {
    background-color: #343a40;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    background-color: white;
    border-color: #343a40;
    padding-bottom: 15px;
    padding-top: 15px;
}

input:placeholder-shown {
    font-style: italic;
}

.submit {
    color: white;
    background-color: #337ab7;
    border-radius: 3px;
    border: 1px;
}

.card-header {
    color: white;
    background-color: #337ab7;
}

.title {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-border {
    background-color: #337ab7;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
}

.card-body {
    padding-top: 0px;
    background-color: #ddd;
}

.card-content {
    max-height: 400px;
    min-height: 100px;
    overflow-y: auto;
    background-color: #ddd;
    padding-top: 0;
    scrollbar-color: #337ab7;
}

.camera-list-item {
    border-radius: 30px;
    background-color: white;
    border: 1px solid gray;
    vertical-align: middle;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.camera-info-item {
    border-radius: 30px;
    background-color: white;
    border: 1px solid gray;
    vertical-align: middle;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-items {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ip-addr {
    margin: 10px;
}

div::-webkit-scrollbar-track {
    background-color: white;
    border: 1px solid lightgrey;
}

div::-webkit-scrollbar {
    width: 12px;
    background-color: #337ab7;
}

div::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #337ab7;
    border: 1px solid lightgrey;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #337ab7;
}

.banner {
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.predict-button {
    width: 60%;
    background-color: #337ab7;
    color: white;
    border-radius: 15px;
    padding: 5px;
}

.predict-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-border {
    background-color: gray;
    border-radius: 15px;
    text-align: center;
    margin-top: 15px;
    width: 60%;
    color: white;
    padding-top: 5px;
}

.sel-cam {
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #337ab7;
    border-radius: 15px;
    margin-bottom: 15px;
}

.modal-header.primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.modal-content {
    overflow: hidden;
    color: black;
}

.submit-color {
    background-color: #337ab7;
}

.submit-color:hover {
    background-color: #2b5e8b;
    color: lightgray;
}

.submit-color:focus {
    background-color: #2b5e8b;
}

.btn-predict {
    width: 60%;
    background-color: #337ab7;
    color: white;
    margin: auto;
    margin-top: 10px;
    display: block;
}

.btn-predict:hover {
    background-color: #2b5e8b;
    color: white;
}

#result {
    display: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #337ab7;
    /* Background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.blue-icon {
    color: #2b5e8b;
}

.white-icon {
    color: white;
    font-size: 36px!important;
}
.white-icon:hover {
    color: #2b5e8b;
}
.btn-expand {
    border-radius: 50%;
    position: absolute;
    text-align: center;
    align-self: center;
    bottom: -25px;
}
.expand-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#expand-span {
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.predictcont {
    padding-bottom: 20px;
}

.pred-list-item {
    border-radius: 30px;
    background-color: white;
    border: 1px solid gray;
    vertical-align: middle;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pred-info-info {
    border-radius: 30px 0 0 30px;
    background-color: white;
    border: 1px solid gray;
    vertical-align: middle;
    margin: 0px;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.pred-info-item {
    border-radius: 0 30px 30px 0;
    background-color: white;
    border: 1px solid gray;
    vertical-align: middle;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

.pred-id-name, .pred-value {
    margin: 5px;
}

.pred-container {
    background-color: lightgrey;
    border-color: #343a40;
    padding-bottom: 15px;
    padding-top: 15px;
}

.vertical {
    writing-mode: vertical-lr;
}

.statHeader {
    background-color: #2b5e8b;
    border-radius: 30px 0 0 30px;
    padding: 5px;
    text-align: center;
    color: #F0F0F0;
    display: flex;
    width: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.stats {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background-color: lightgrey;
    margin-bottom: 10px;
}

.stats > .container {
    background-color: lightgrey;
    border-radius: 30px;
    overflow: hidden;
}

.statTable .container {
    background-color: #F0F0F0;
}

.statTable .pred-info-item {
    display: flex;
    justify-content: flex-end;
}

#main {
    margin-bottom: 40px;
}

.colorDot {
    margin-left: 10px;
    border-radius: 50%;
    background-color: #337ab7;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    display: inline;
}

.colorFrame {
    border-radius: 30px;
    background-color: white;
    border: 1px solid gray;
    margin: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.colorData{
    overflow: auto;
}